@using DotNetSide.Model

<Card>
    <CardHeader>
        @eventTitle
    </CardHeader>
    <CardBody>
        <div>
            Quando: <b>@evento.start_time</b><br/>
            Dove: <b>@evento.place?.name - @evento.place?.location?.street - @evento.place?.location?.zip @evento.place?.location?.city</b>
            @if (@evento.place != null && @evento.place.location != null)
            {
            <a href="@GetMapLink()" target="_blank">map</a>
            }
            <br/>
        </div>
        <div class="content">
            <br/>
            <span style="white-space: pre-line">@eventBody</span>
        </div>
    </CardBody>
    <CardFooter>
        <footer>
            <a href="https://www.facebook.com/events/@evento.id/" target="_blank" class="btn btn-primary">PAGINA EVENTO</a> 
        </footer>
    </CardFooter>
</Card>

@functions
{
    [Parameter] Event evento { get; set; }

    string eventTitle;
    string eventInfo;
    string eventBody;

    protected override void OnParametersSet()
    {
        if (evento != null)
        {
            eventTitle = evento.name;
            eventBody = evento.description;
            eventInfo = $"Quando: {evento.start_time}<br/>Dove: {evento.place?.name}";
        }
    }

    public string GetMapLink()
    {
        return $"https://www.google.com/maps/search/?api=1&query={evento.place.location.latitude},{evento.place.location.longitude}"; //,15z";
    }
}