@using DotNetSide.Model


    <Card>
        <CardHeader>
            <NavLink class="nav-link" href="@($"events/{evento.id}")" style="padding: 0">
                @evento.name
            </NavLink>
        </CardHeader> 
        <CardBody> 
            <div class="contaner">
                <div class="row">
                    <div class="col-">
                        <div class="text-center">@evento.start_time.ToString("dd/MM/yyyy")</div><br/>
                        <div class="text-center"><img src="images/calendar.png" width="40" height="40"/></div>
                    </div>
                    <div class="col text-left">
                        
                        <p>@evento.description.GetMaxText(250)</p>
                        <footer class="blockquote-footer">
                            <b>@evento.place?.name - @evento.place?.location?.street - @evento.place?.location?.zip @evento.place?.location?.city</b>
                            @if (@evento.place != null && @evento.place.location != null)
                            {
                                <a href="@GetMapLink()" target="_blank">map</a>
                            }
                        </footer>
                            
                    </div>
                </div>
            </div>
        </CardBody> 
    </Card>


@functions
{
    [Parameter] Event evento {get;set;}

    public string GetMapLink()
    {
        return $"https://www.google.com/maps/search/?api=1&query={evento.place.location.latitude},{evento.place.location.longitude}"; //,15z";
    }
}